body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
}
.p1 {
  background-color: black;
  align-content: center;
  color: white;
  text-decoration: none;
  tex
}
.p2{
  background-color: white;
  align-content: center;
  color: black;
  text-decoration: none;
}
